<h1>TranZ</h1>
<ul>
{% for trans in all_translationz %}
	<li> {{ trans.word_from.name }}
			<ul>
			<br/>
			{% for w in trans.word_to.all %}
					<li>{{ w }}</li>
			{% empty %}
				--no translation is defined--
			{% endfor %}
			</ul>
		<br/><hr/><br/>
	</li>
	
{% empty %}
	<li>No articles yet.</li>
{% endfor %}
</ul>

<hr/>
<br/>
<a href='/new-word'>add new word</a>(later to be translatedo)
<br/>
<a href='/words'>or list all words</a>
<br/>
<hr/>

<br/>
{% if erra %}
	{{ erra }}
{% endif %}
<br/>
<hr/>
