<h2> create a new word </h2>

<form action='word-add' method="POST">
	{% csrf_token %}
	{{ word_form }}
	<input type="submit" value="Save" />
</form>

<a href='/'>get back</a>
<br/>
<hr/>

<br/>
{{ erra }}
<br/>
<hr/>
