<h1>WordZ</h1>
<!--
<style>

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 15px;
}
</style>
-->
<table style="width:50%" border="5">
	
	<tr>
		<th> Word </t>
		<th> Language </th>
		<th> Frequency </th>
		<th> delete? </th>
		<th> update?</th>
	</tr>

	{% for w in wordz %}
		<tr>
		<td> {{ w.name }} </td>
		<td> {{ w.lang }} </td>
		<td align="center"> {{ w.freq }} </td>
		<td>		 <a href="delete-word/{{ w.id }}">del?</a> </td>
		<td>		 <a href="edit-word/{{ w.id }}">update?</a> </td>
		</tr>
	{% endfor %}

</table>
<br/>
<a href="word-add">add a new word</a>
<br/><hr/><br/>

<div style="display: none">
	this is for later interactive screen, like goo translate
</div>


<br/>
result: {{ result }}
<br/>
<hr/>
