<h1>W0RDZ</h1>
<ul>
{% for trans in all_translationz_detail %}
	<li>
		WORD	 	=> {{ trans.word_from.name }} 
		HINT 		=> {{ trans.hint }}

			<ul>
			<br/>
			{% for w in trans.word_to.all %}
					<li>{{ w }}</li>
			{% empty %}
				--no translation is defined--
			{% endfor %}
			</ul>
	
		<br/><hr/><br/>
		DESCRIPTTION	=> {{ trans.description }}<br/>
		CREATED AT		=> {{ trans.date }}<br/>
	</li>
	
{% empty %}
	<li>No articles yet.</li>
{% endfor %}
</ul>
